
      body{padding-left: 11em;
          font-family: Georgia, "Times New Roman",
                Times, serif;
          color: purple;
          background-color: #d8da3d }
        ul.caja {
          list-style-type: none;
          padding: 0;
          margin: 0;
          position: absolute;
          top: 2em;
          left: 1em;
          width: 10em }
        h1 {
          font-family: Helvetica, Geneva, Arial,
                SunSans-Regular, sans-serif }
        ul.caja li {
          background: white;
          margin: 0.5em 0;
          padding: 0.3em;
          border-right: 0em solid black }
        ul.caja a {
          text-decoration: none }
        a:link {
          color: blue }
        a:visited {
          color: purple }

        address {
          margin-top: 30em;
          padding-top: 1em;
          border-top: thin dotted }
          nav ul li{
    /*Bordes redondeados*/
    -webkit-border-radius:15px;/*Chrome y Safari*/
    -moz-border-radius:15px;/*Firefox*/
    -o-border-radius:15px;/*Opera*/
    border-radius:15px;/*Estandar por defecto*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:bold;
    margin-right:1px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 1px 1px px #FFF;
}

          </style>